/* -------------------------------------------------------------------
 * ## colours
 * ------------------------------------------------------------------- */
$bg: #eaf6ff;
$font: #232528;
$head_bg: #f5d6ba;
$link: #acc3a6;
$focus: #a40e4c;

/* -------------------------------------------------------------------
 * ## fonts
 * ------------------------------------------------------------------- */
$sans_font: 'Lexend Deca', sans-serif;
$serif_font: 'Ibarra Real Nova', serif;
$h_font: 'Bebas Neue', cursive;

/* -------------------------------------------------------------------
 * ## container's max width
 * ------------------------------------------------------------------- */
$max-width: 1366px !default;

/* -------------------------------------------------------------------
 * ## url where all assets served from
 * ------------------------------------------------------------------- */
$base-url: '/public/' !default;
